<tr>
    <td class="MyItem">
        @Name
    </td>
    <td nowrap>
        @ChildContent
    </td>
    @*<td>&nbsp;check</td>*@
</tr>

@code {
    [Parameter] public string Name { get; set; } = null!;
    [Parameter] public RenderFragment ChildContent { get; set; } = null!;
}
