@typeparam TItem

<table class="table table-sm table-striped table-bordered">
    <thead>
        <tr>@MyHeader</tr>
        @MyHeader2
    </thead>
    <tbody>
        @if (Items == null)
        {
        }
        else foreach (var item in Items)
        {
            <tr>@Row(item)</tr>
        }
    </tbody>
    <tfoot>
        <tr>@MyFooter</tr>
    </tfoot>
    @MyTest
</table>

@code {
    [Parameter] public RenderFragment MyHeader { get; set; } = null!; // To avoid unknown funny error for <Header></Header>
    [Parameter] public RenderFragment MyHeader2 { get; set; } = null!;
    [Parameter] public RenderFragment<TItem> Row { get; set; } = null!;
    [Parameter] public RenderFragment MyFooter { get; set; } = null!;
    [Parameter] public IEnumerable<TItem> Items { get; set; } = null!;
    [Parameter] public RenderFragment MyTest { get; set; } = null!;
}
