@page "/auth/loginrequest"
@using MyCommLib.Shared.Models.Auth
@inject IMyAuthenticationService AuthService
@inject IHttpClientFactory HttpFactory

<br/>
<div class="alert alert-info mt-5">Login Request
    <br/>Enter your account email address, and send this login request.
    <br/>You will receive an email showing your login info.
</div>
@if (!String.IsNullOrEmpty(Status))
{
    <MySpinner>@Status</MySpinner>
}
else
{
    <EditForm class="form-signin" OnValidSubmit="OnSubmit" Model="Req">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <ul>
            @foreach (string msg in ErrorMessages)
            {
                <li style="color: red">@msg</li>
            }
        </ul>

        <div class="form-group">
            <label class="MyFormLabel">Email:</label>
            <InputText class="form-control" @bind-Value="Req.Email" autofocus placeholder="Email" />
        </div>
        <div class="my-2">
            <button class="btn btn-primary btn-sm" type="submit">Login Request</button>
            <a class="btn btn-sm btn-warning" href="@ReturnTo">Cancel</a>
        </div>
    </EditForm>
}

@code {
    [Parameter] public string ReturnTo { get; set; } = "";
    LoginRequestModel Req { get; set; } = new();
    List<string> ErrorMessages { get; set; } = new List<string>();

    private string Status = "";

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
    }

    async Task OnSubmit()
    {
        ErrorMessages = new List<string>();
        Status = "Sending...";
        await Task.Delay(1);
        try
        {
            await AuthService.LoginRequest(Req);
            // NM.NavigateTo($"auth/LoginWithSecretCode/{Req.Email}");
            NM.NavigateTo($"auth/LoginWithSecretCode");
        }
        catch (Exception ex) // return BadRequest when not authenticated
        {
            ErrorMessages.Add(ex.Message);
            Status = "";
            Console.WriteLine(ex.Message);
        }
    }
}
