@page "/auth/logout"
@inject AuthenticationStateProvider AuthProvider
@* @attribute [Authorize] *@

<br/>
<div class="alert alert-warning mt-5">Are you sure to Logout?</div>
<p class="text-danger">If you Logout, your Auto-Login status will be reset. If you are to use this app again, you'd better not Logout.</p>
<div>
    <ul>
        @foreach (string msg in ErrorMessages)
        {
            <li style="color: red">@msg</li>
        }
    </ul>
</div>

<button class="btn btn-primary btn-sm" @onclick="@LogoutClick">Log Out</button>
<a class="btn btn-sm btn-warning" href="@ReturnTo">Cancel</a>

@code {
    [Parameter] public string ReturnTo { get; set; } = "Index";
    List<string> ErrorMessages { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        await Task.CompletedTask;
    }

    async Task LogoutClick()
    {
        ErrorMessages = new List<string>(); 
        await BLS.RemoveItemAsync("access_token");
        await AuthProvider.GetAuthenticationStateAsync();
        var rm = new clsRememberMeW(BLS);
        await rm.Reset();
        NM.NavigateTo(ReturnTo, forceLoad: true);
    }
}
