
.myTable-xl {
    font-size: x-large;
    padding: 1px;
}
.myTable-l {
    font-size: large;
    padding: 1px;
}
.myTable-m {
    font-size: medium;
    padding: 0px;
}
.myTable-s {
    font-size: small;
    padding: 0px;
}
.myTable-xs{
    font-size: smaller;
    padding: 0px;
}
.myTable-xxs {
    font-size: xx-small;
    padding: 0px;
}
.myBorder {
    border-style: solid;
    border-width: 1px;
}
.myBorder-2 {
    border-style: solid;
    border-width: 2px;
}
.myBorderR {
    border-right-style: solid;
    border-width: 1px;
    border-left-width: 0px;
    border-top-width: 0px;
    border-bottom-width: 0px;
}
.MyJumbotron {
    padding: 2rem 1rem;
    margin-bottom: 2rem;
    background-color: #e9ecef;
    border-radius: 0.3rem;
}
.MyFormLabel {
    font-size: smaller;
    padding: 0px;
    margin-bottom: 0;
    color: #17a2b8;
    /*color: #007bff;*/
}
td.MyItem {
    width: 5%;
    text-align: right;
    vertical-align: top;
    color: royalblue;
    white-space: nowrap;
}
