@page "/Server/IdentityRole/Edit/{action}"
@page "/Server/IdentityRole/Edit/{action}/{id}"
@using Microsoft.AspNetCore.Components.Forms
@using Microsoft.AspNetCore.Identity
@using MyCommLib.Shared.Models.MyAccount
@inject IIdentityApi api

<MyPageHeader>@action Identity Role</MyPageHeader>
<EditForm Model="RoleEdit" OnValidSubmit="HandleValidSubmit" FormName="RoleEdit">
    <DataAnnotationsValidator />
    <ValidationSummary />
    <ul>
        @foreach (string msg in ErrorMessages)
        {
            <li style="color: red">@msg</li>
        }
    </ul>
    <div class="form-group">
        <label class="MyFormLabel">Name:</label>
        <InputText class="form-control" @bind-Value="@RoleEdit.Name" Disabled="@IsDisabled" autofocus />
    </div>
    <div class="m-2">
        @if (action == "create")
        {
            <button type="submit" class="btn btn-sm btn-primary">Create</button>
        }
        else if (action == "delete")
        {
            <button type="submit" class="btn btn-sm btn-danger">Delete</button>
        }
        <a class="btn btn-sm btn-warning ms-1" href="Server/IdentityRole/list">Cancel</a>
    </div>
</EditForm>

@code {
    private bool IsDisabled => (action == "delete") ? true : false;

    [Parameter] public string id { get; set; } = null!;
    [Parameter] public string action { get; set; } = null!;
    [SupplyParameterFromForm] public IdentityRoleModel RoleEdit { get; set; } = new IdentityRoleModel();
    public List<string> ErrorMessages { get; set; } = new List<string>();

    protected override async Task OnInitializedAsync()
    {
        ErrorMessages = new List<string>();
        action = action.ToLower();
        RoleEdit ??= new();
        IdentityRoleModel role = await api.GetRole(id);
        if (action != "create")
        {
            RoleEdit.Id ??= role.Id;
            RoleEdit.Name ??= role!.Name!;
        }
    }

    public async Task HandleValidSubmit()
    {
        try
        {
            if (action == "create")
            {
                await api.CreateRole(RoleEdit);
            }
            else if (action == "delete")
            {
                await api.DeleteRole(RoleEdit);
            }
        }
        catch (Exception ex)
        {
            ErrorMessages.Add(ex.Message);
            return;
        }
        NM.NavigateTo("Server/IdentityRole/List");
    }
}
